<div class="container">
  <h2>Liste des stagiaires</h2>

<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nom</th>
    <th scope="col">Prénom</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let m of stagiaires">
    <td>{{m.id}}</td>
    <td>{{m.nom}}</td>
    <td>{{m.prenom}}</td>
    <td class='centre'>
      <button (click)="edit(t)" class="btn btn-primary btn-xs">
        DETAILS
      </button>
      <button (click)="edit(t)" class="btn btn-success btn-xs">
        EDITER
      </button>
      <button (click)="remove(t)" class="btn btn-danger btn-xs">
        SUPPRIMER
      </button>
    </td>
  </tr>
  </tbody>
</table>
  <button (click)="toggleEdit()" class="btn btn-primary">
    Ajouter
  </button>

</div>

<div class="container" *ngIf="formulaireShow">

  <h2>Ajout/modification d'un stagiaire</h2>
  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text">Nom de stagiaire</div>

    </div>
    <input type="text" class="form-control" [(ngModel)]="formStagiaire.nom" placeholder="Nom de stagiaire" />
  </div>


  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text">Prenom de stagiaire</div>

    </div>
    <input type="text" class="form-control" [(ngModel)]="formStagiaire.prenom" placeholder="prenom de stagiaire" />
  </div>

  <div class="row mb-2 col-auto">
    <button (click)="save()" class="btn btn-success" [disabled]="!formStagiaire.nom">
      <span>Valider</span>
    </button>
  </div>
</div>
