
<div class="container">
  <h2>Liste des techniciens</h2>
  <div class="row">
   <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th class='centre' scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let t of _techniciens">
      <td>{{t.id}}</td>
      <td>{{t.nom}}</td>
      <td>{{t.prenom}}</td>
      <td class='centre'>
        <button (click)="edit(t)" class="btn btn-primary btn-xs">
          DETAILS
        </button>
        <button (click)="edit(t)" class="btn btn-success btn-xs">
          EDITER
        </button>
        <button (click)="remove(t)" class="btn btn-danger btn-xs">
          SUPPRIMER
        </button>
      </td>
    </tr>
    </tbody>
  </table>
    <button (click)="toggleEdit()" class="btn btn-primary">
      Ajouter
    </button>
  </div>



  <div class="row" *ngIf="formulaireShow">


    <h2>Ajout/modification d'un technicien</h2>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">Nom du technicien</div>
      </div>

      <input type="text" class="form-control" [(ngModel)]="formTechnicien.nom" placeholder="Nom du technicien" />
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">Prénom du technicien</div>
      </div>
      <input type="text" class="form-control" [(ngModel)]="formTechnicien.prenom" placeholder="Prénom du technicien" />
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">Coordonnées</div>
      </div>
      <input type="text" class="form-control" [(ngModel)]="formTechnicien.coordonnees" placeholder="Coordonnées" />
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">Rue</div>
      </div>
      <input type="text" class="form-control" [(ngModel)]="formTechnicien.rue" placeholder="Rue" />
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">Ville</div>
      </div>
      <input type="text" class="form-control" [(ngModel)]="formTechnicien.ville" placeholder="Ville" />
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">Code postal</div>
      </div>
      <input type="text" class="form-control" [(ngModel)]="formTechnicien.codePostal" placeholder="Code postal" />
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">Nom d'utilisateur</div>
      </div>
      <input type="text" class="form-control" [(ngModel)]="formTechnicien.username" placeholder="Nom d'utilisateur" />
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">Mot de passe</div>
      </div>
      <input type="text" class="form-control" [(ngModel)]="formTechnicien.password" placeholder="Mot de passe" />
    </div>

    <div class="row mb-2 col-auto">
      <button (click)="save()" class="btn btn-success" [disabled]="!formTechnicien.nom">
        <span>Valider</span>
      </button>
    </div>
  </div>
</div>

