<div class = "container">
  <h2>Liste des formateurs</h2>

<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nom</th>
    <th scope="col">Prénom</th>
    <th scope="col" class="text-center">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let f of formateurs">
    <td>{{f.id}}</td>
    <td>{{ f.nom }}</td>
    <td>{{ f.prenom }}</td>
    <td class="text-center">
      <button (click)="edit(f)" class="btn btn-primary btn-xs">
        DETAILS
      </button>
      <button (click)="edit(f)" class="btn btn-success btn-xs">
        EDITER
      </button>
      <button (click)="remove(f)" class="btn btn-danger btn-xs">
        SUPPRIMER
      </button>
    </td>
  </tr>
  </tbody>
</table>
  <button (click)="toggleEdit()" class="btn btn-primary">
    Ajouter
  </button>

</div>

<div class = "container" *ngIf="formulaireShow">
  <h2> Ajout/modification d'un formateur </h2>

  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text">Nom du formateur</div>

    </div>
    <input type="text" class="form-control" [(ngModel)]="formFormateur.nom" placeholder='' />
  </div>


  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text">Prenom du formateur</div>

    </div>
    <input type="text" class="form-control" [(ngModel)]="formFormateur.prenom" placeholder='' />
  </div>



  <div class="row mb-2 col-auto">
    <button (click)="save()" class="btn btn-success" [disabled]="!formFormateur.nom">
      <span>Valider</span>
    </button>
  </div>

</div>
