<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class = "container">


<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nom</th>
    <th scope="col">Prenom</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let f of formateurs">
    <td>{{f.id}}</td>
    <td>{{ f.nom }}</td>
    <td>{{ f.prenom }}</td>

    <td>
      <button (click)="edit(f)" class="btn btn-primary">EDITER</button>
      <button (click)="remove(f)" class="btn btn-danger">SUPPRIMER</button>
    </td>
  </tr>
  </tbody>
</table>

</div>

 <hr/>

<div class = "container">

  <h1> Formateurs </h1>

  <h2> Ajout/modification d'un formateur </h2>

  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text">Nom du formateur</div>

    </div>
    <input type="text" class="form-control" [(ngModel)]="formFormateur.nom" placeholder='' />
  </div>


  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text">Prenom du formateur</div>

    </div>
    <input type="text" class="form-control" [(ngModel)]="formFormateur.prenom" placeholder='' />
  </div>



  <div class="row mb-2 col-auto">
    <button (click)="save()" class="btn btn-success" [disabled]="!formFormateur.nom">
      <span>Valider</span>
    </button>
  </div>

</div>
