<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./assets/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>

<div class="container">
  <nav class="navbar  sticky-top navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="#">La Factory <br/> <em><small>l'usine à talent</small></em></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Gestion du planning
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Gestion des ressources humaines
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="" [routerLink]="['/stagiaire']" routerLinkActive="active">Stagiaires</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="" [routerLink]="['/formateur']" routerLinkActive="active">Formateurs</a>
            <a class="dropdown-item" href="" [routerLink]="['/technicien']" routerLinkActive="active">Techniciens</a>
            <a class="dropdown-item" href="" [routerLink]="['/gestion']" routerLinkActive="active">Gestionnaires</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Gestion du matériel
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/salles">Salles</a>
            <a class="dropdown-item" href="/ordinateurs">Ordinateurs</a>
            <a class="dropdown-item" href="/videoprojecteurs">Vidéoprojecteurs</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Prévisions des stocks</a>
          </div>
        </li>

        <li class="nav-item ml-5 pl-5">
          <a class="nav-link pull-right" href="/contact">Contact</a>
        </li>



      </ul>

<!--      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>-->

    </div>
  </nav>



  <router-outlet></router-outlet>





  <footer id="footer"><div class="text-center">   © 2018 — <a href="http://www.ajc-ingenierie.fr/">AJC Ingénierie</a> promotion Fakir (Sopra Energie)  </div></footer>
</div>
</body>
</html>
