
  <meta charset="utf-8">
  <link rel="stylesheet" href="./assets/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css" rel="stylesheet" media="print">
  <script src="../assets/js/moment.min.js"></script>
  <script src="../assets/js/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>

  <h3>Planning des modules : </h3>
  <p>Display event : {{displayEvent | json}}</p>
  <div class="container">
    <div class="row">
      <a class="btn btn-primary" (click)="loadevents()"> Chargement</a>


      <div class="checkbox">
        <label><input type="checkbox" checked/> Aff. weekends </label>
      </div>
    </div>
  </div>


  <div id="calendar" *ngIf="calendarOptions">
    <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
                     (eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)"></ng-fullcalendar>
  </div>

    <button class="btn btn-success" type="button" onclick="pdfDownload()" id="pdfDowload">To image via html2canvas</button>




