<div class="container">
  <h2>Liste des modules</h2>

  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom de la matière</th>
      <th scope="col">Nom de Formateur</th>
      <th scope="col">Code de la salle</th>
      <th scope="col">Code du videoprojecteur</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let m of modules">
      <td><span *ngIf="m">{{m.id}}</span></td>
      <td><span *ngIf="m.matiere">{{m.matiere.titre}}</span></td>
      <td><span *ngIf="m.formateur">{{m.formateur.nom}}</span></td>
      <td><span *ngIf="m.salle">{{m.salle.code}}</span></td>
      <td><span *ngIf="m.videoprojecteur">{{m.videoprojecteur.code}}</span></td>

      <td class="text-center">
        <button (click)="edit(m)" class="btn btn-primary btn-xs">
          DETAILS
        </button>
        <button (click)="edit(m)" class="btn btn-success btn-xs">
          EDITER
        </button>
        <button (click)="remove(m)" class="btn btn-danger btn-xs">
          SUPPRIMER
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <button (click)="toggleEdit()" class="btn btn-primary">
    Ajouter
  </button>

</div>

<div class="container" *ngIf="formulaireShow">



  <h2>Ajout/modification d'un module</h2>

  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text">Choix Matière</div>
    </div>
    <select class="form-control" [(ngModel)]="formModule.matiere" >
      <option *ngFor="let m of matieres" [ngValue]="m">{{m.titre}}</option>
    </select>
  </div>

  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text">Choix du Formateur</div>
    </div>
    <select class="form-control" [(ngModel)]="formModule.formateur">
      <option *ngFor="let f of formateurs" [ngValue]="f"  ><p *ngIf="f">{{f.nom}}</p> </option>
    </select>
  </div>

  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text">Choix de la salle</div>
    </div>
    <select class="form-control" [(ngModel)]="formModule.salle" >
      <option *ngFor="let s of salles" [ngValue]="s" >{{s.code}}</option>
    </select>
  </div>

  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text">Choix vidéoprojecteur</div>
    </div>
    <select class="form-control" [(ngModel)]="formModule.videoprojecteur" >
      <option *ngFor="let v of videoprojecteurs" [ngValue]="v" >{{v.code}}</option>
    </select>
  </div>



  <div class="row mb-2 col-auto">
    <button (click)="save()" class="btn btn-success" [disabled]="!formModule.matiere">
      <span>Valider</span>
    </button>
  </div>
</div>


