<!--<link rel="stylesheet" href="./videoprojecteur.component.css">-->

<div class="container">
  <h2>Liste des videoprojecteurs</h2>

  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Coût d'utilisation</th>
      <th scope="col">Résolution</th>
      <th scope="col" class='text-center'>hdmi</th>
      <th scope="col" class='text-center'>vga</th>
      <th scope="col" class='text-center'>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let v of videoprojecteurs">
      <td>{{v.code}} </td>
      <td>{{v.coutUtilisation}}</td>
      <td>{{v.resolution}}</td>
      <td class='text-center'>
        <span *ngIf="v.hdmi" class="glyphicon glyphicon-ok"></span>
        <span *ngIf="!v.hdmi" class="glyphicon glyphicon-remove"></span>
      </td>
      <td class='text-center'>
        <span *ngIf="v.vga" class="glyphicon glyphicon-ok"></span>
        <span *ngIf="!v.vga" class="glyphicon glyphicon-remove"></span>
      </td>
      <td class='centre'>
        <button (click)="edit(v)" class="btn btn-primary btn-xs">
          DETAILS
        </button>
        <button (click)="edit(v)" class="btn btn-success btn-xs">
          EDITER
        </button>
        <button (click)="remove(v)" class="btn btn-danger btn-xs">
          SUPPRIMER
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <button (click)="toggleEdit()" class="btn btn-primary">
    Ajouter
  </button>

</div>

<div class="container" *ngIf="formulaireShow">

  <h2>Ajout/modification d'un videoprojecteur</h2>
  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text">Code du videoprojecteur</div>

    </div>
    <input type="text" class="form-control" [(ngModel)]="formVideoprojecteur.code" placeholder="Code du videoprojecteur" autofocus/>
  </div>


  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text">Coût d'utilisation du videoprojecteur</div>
    </div>
    <input type="numeric" class="form-control" [(ngModel)]="formVideoprojecteur.coutUtilisation" placeholder="Coût d'utilisation du videoprojecteur (€/jour)" />
  </div>

  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text">Résolution du videoprojecteur</div>

    </div>
    <input type="text" class="form-control" [(ngModel)]="formVideoprojecteur.resolution" placeholder="Résolution du videoprojecteur" />
  </div>

  <label class="checkbox-inline"><input type="checkbox" [(ngModel)]="formVideoprojecteur.hdmi">HDMI</label>
  <label class="checkbox-inline"><input type="checkbox"  [(ngModel)]="formVideoprojecteur.vga">VGA</label>




  <div class="row mb-2 col-auto">
    <button (click)="save()" class="btn btn-success" [disabled]="!formVideoprojecteur.code">
      <span>Valider</span>
    </button>
  </div>
</div>
